.page-login {
	background-color: #EBE9D7;
	position: relative;
	width: 100vw;
	height: 100vh;

	.wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100vh;

		&-title {
			color: #383743;
			font-size: 24px;
			font-weight: bold;
			text-transform: uppercase;
			text-align: center;
			margin-top: 65px;
		}

		&-description {
			width: 325px;
			text-align: center;
			margin-bottom: 45px;
			
			p {
				color: #383743;
				font-size: 18px;
				font-weight: normal;
				line-height: 1.4;
			}
		}

		&-form {
			position: relative;
			width: 350px;

			.message {
				background-color: fade-out(black, .3);
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				top: -20px;
				right: -20px;
				bottom: -20px;
				left: -20px;
				z-index: 5;
				opacity: 0;
				visibility: hidden;
				transition: opacity .3s, visibility .3s;
				
				&.active {
					opacity: 1;
					visibility: visible;
				}

				span {
					color: white;
					font-size: 16px;
					font-weight: bold;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			.field-group {
				position: relative;
				border-bottom: 1px solid #383743;

				&:not(:last-child) {
					margin-bottom: 33px;
				}

				.icon {
					position: absolute;
					top: calc(50% - 2px);
					left: 0;
					transform: translateY(-50%);
					z-index: 2;
					pointer-events: none;
				}
				
				.field {
					background-color: transparent;
					color: #383743;
					font-size: 18px;
					font-weight: normal;
					width: 100%;
					border: none;
					outline: none;
					padding: 0 0 10px 40px;
				}

				.placeholder {
					color: fade-out(#383743, .5);
					font-size: 18px;
					font-weight: normal;
					position: absolute;
					top: calc(50% - 3px);
					transform: translateY(-50%);
					left: 40px;
					pointer-events: none;
				}

				span {
					color: red;
					position: absolute;
					top: 5px;
					left: calc(100% + 15px);
					z-index: 2;
					white-space: nowrap;
				}
			}

			.form-submit {
				position: relative;
				width: 320px;
				margin: 0 auto;

				button {
					background-color: #57BBBC;
					color: white;
					font-size: 18px;
					font-weight: bold;
					text-transform: uppercase;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					height: 50px;
					border: none;
					outline: none;
					cursor: pointer;
					border: 2px solid #57BBBC;
					border-radius: 5px;
					transition: color .3s, background-color .3s;

					&:hover {
						background-color: #EBE9D7;
						color: #57BBBC;
					}
				}
			}
		}
	}
}