.page-dashboard {
	background-color: #EBE9D7;
	position: relative;
	width: 100vw;
	height: 100vh;

	.headline {
		background-image: linear-gradient(to bottom, #EC4B76 0%, #BF3D68 100%);
		position: relative;
		width: 100%;
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: center;


		.logo {
			flex-grow: 1;
			text-align: center;
			margin: 0;
			padding: 0 0 0 50px;
			transition: opacity .5s, visibility .5s;
		}

		.search {
			position: relative;
			flex-shrink: 0;
			margin: 0 20px 0 0;
			padding: 0;
			transition: opacity .5s, visibility .5s;

			button {
				background-color: transparent;
				cursor: pointer;
				border: none;
				outline: none;
			}
		}

		.search-form {
			position: absolute;
			display: flex;
			flex-direction: column;
			justify-content: center;
			top: 0;
			right: 30px;
			bottom: 0;
			left: 30px;
			z-index: 2;
			opacity: 0;
			visibility: hidden;
			transition: opacity .3s, visibility .3s;

			&::after {
				content: '';
				background-color: white;
				position: absolute;
				right: 0;
				bottom: 10px;
				left: 0;
				height: 1px;
				transform-origin: 0% 50%;
				transform: scaleX(0);
				transition: transform 1s;
			}

			.icon {
				position: absolute;
				top: 20px;
				left: 0;
				background-color: transparent;
				border: none;
				cursor: pointer;
				outline: none;
			}

			input  {
				background-color: transparent;
				color: white;
				font-size: 21px;
				font-weight: normal;
				border: none;
				display: block;
				padding: 25px 80px 15px;
				margin: 0;
				outline: none;

				&::placeholder {
					color: white;
				}
			}

			.close {
				background-color: transparent;
				position: absolute;
				top: 20px;
				right: 0;
				cursor: pointer;
				border: none;
				outline: none;
			}
		}

		&.search {
			.logo,
			.search {
				opacity: 0;
				visibility: hidden;
			}

			.search-form {
				opacity: 1;
				visibility: visible;

				&::after {
					transform: scaleX(1);
				}
			}
		}
	}

	.wrapper {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: calc(100vh - 100px);

		.items {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 100px;
			height: 600px;
			flex-wrap: wrap;
			overflow: auto;

			.item {
				position: relative;
				display: flex;
				width: 270px;
				margin-bottom: 50px;

				&-count {
					background-color: red;
					color: white;
					font-size: 24px;
					font-weight: bold;
					display: flex;
					align-items: center;
					justify-content: center;
					position: relative;
					width: 80px;
					height: 120px;
					flex-shrink: 0;
				}

				&-content {
					display: flex;
					flex-direction: column;
					justify-content: center;
					padding: 0 0 0 15px;

					&--title {
						color: black;
						font-size: 21px;
						font-weight: normal;
					}

					&--subtitle {
						color: black;
						font-size: 18px;
						font-weight: normal;
					}
				}
			}
		}

		span {
			color: #383743;
			font-size: 32px;
			font-weight: normal;
		}
	}
}